.head{
	text-align: center;
	font-size: 70px
	}
.title{
	text-align: center;
	font-size: 70px;
	}
.form{
	text-align: center;
        font-size: 150px;
        }
#on{
	width:170px;
	height:100px;
	font-size:50px;
}

#off{
	width:170px;  
        height:100px;
	font-size:50px;
}
.lol{
        text-align: center;
        font-size: 200px;
        }
